<html lang="en">
	<head>
  	<meta charset="UTF-8">
  <title>Sound Board</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <nav>

      	<a href="#" data-band="band1">Maroon 5</a>
     	<a href="#" data-band="band2">Fifty Harmony</a>
      	<a href="#" data-band="band3">COLDPLAY</a>
      
    </nav>
  </header>

  <div class="sounds" id="band1">
	<a data-sound="audioplay11" class="sound">
      	Animals
    	</a>
    	<a data-sound="audioplay12" class="sound">
      	This Love
    	</a>
    	<a data-sound="audioplay13" class="sound">
     	 Sugar
   	 </a>
   	 <a data-sound="audioplay14" class="sound">
      	Maps
   	 </a>
   	 <a data-sound="audioplay15" class="sound">
    	  Payphone
    	</a>
  	 </div>

  <div class="sounds" id="band2">

  	 <a data-sound="audioplay21" class="sound">
     	 Work From Home
    	</a>
    	<a data-sound="audioplay22" class="sound">
    	Worth It
    	</a>
    	<a data-sound="audioplay23" class="sound">
    	Write On Me
    	</a>
    	<a data-sound="audioplay24" class="sound">
    	Boss
    	</a>
    	<a data-sound="audioplay25" class="sound">
    	  Angel
    	</a>
    	  </div>



<div class="sounds" id="band3">

	<a data-sound="audioplay31" class="sound">
      	Paradise
    	</a>
    	<a data-sound="audioplay32" class="sound">
    	The Scientist
    	</a>
   	 <a data-sound="audioplay33" class="sound">
   	Hymn Of The Weekend
   	 </a>
   	 <a data-sound="audioplay33" class="sound">
   	  Chainsmoker
   	 </a>
   	 <a data-sound="audioplay35" class="sound">
   	  In My Place
   	 </a>
   	   </div>

  <!-- and here we have some elements that belong in body... that ordinarily would not -->

	  <audio data-sound="audioplay11"  src="Songs/Songs\Maroon\Maroon1.mp3"></audio>
	  <audio data-sound="audioplay12"  src="Songs/Songs\Maroon\Maroon2.mp3"></audio>
	  <audio data-sound="audioplay13"  src="Songs/Songs\Maroon\Maroon3.mp3"></audio>
	  <audio data-sound="audioplay14"  src="Songs/Songs\Maroon\Maroon4.mp3"></audio>
	  <audio data-sound="audioplay15"  src="Songs/Songs\Maroon\Maroon5.mp3"></audio>

  

	  <audio data-sound="audioplay21" src="Songs/Songs\Fifty\Fifty1.mp3"></audio>
	  <audio data-sound="audioplay21" src="Songs/Songs\Fifty\Fifty2.mp3"></audio>
	  <audio data-sound="audioplay23" src="Songs/Songs\Fifty\Fifty3.mp3"></audio>
	  <audio data-sound="audioplay24" src="Songs/Songs\Fifty\Fifty5.mp3"></audio>
	  <audio data-sound="audioplay25" src="Songs/Songs\Fifty\Fifty4.mp3"></audio>
 
	  <audio data-sound="audioplay31" src="Songs/Songs\Coldplay\Coldplay1.mp3"></audio>
	  <audio data-sound="audioplay32" src="Songs/Songs\Coldplay\Coldplay2.mp3"></audio>
	<audio data-sound="audioplay33" src="Songs/Songs\Coldplay\Coldplay3.mp3"></audio>
	<audio data-sound="audioplay34" src="Songs/Songs\Coldplay\Coldplay4.mp3"></audio>
	<audio data-sound="audioplay35" src="Songs/Songs\Coldplay\Coldplay5.mp3"></audio>
	  <script src="audio.js"></script>
  <footer>
    	<nav>
    	  <a href="#" data-band="band1">Maroon 5</a>
    	  <a href="#" data-band="band2">Fifty Harmony</a>
    	   <a href="#" data-band="band3">ColdPLAY</a>
    	</nav>
  </footer>
</body>
</html>